@import "tailwindcss";
@config "../tailwind.config.js";

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-variant-numeric: tabular-nums;
    /* overflow: hidden; */
}